.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
resources/dark
resources/martor-description.css
resources/style.css
resources/vars.scss
sass_processed
.uwsgi
node_modules
.github
funix.zip
/uploads/
__pycache__/
auth-google-credentials.json