{% if just_judged %}
  {% if submission.result == "AC" %}
    <div id="success-modal" class="backdrop">
      <div class="modal">
        <div style="display: flex; align-items: center; justify-content: center;">
          <img  src="{{ static('funix/images/congratulations.svg') }}" alt="Congratulations">
        </div>

        <p style="font-size: 20px; text-align: center; margin: 5px 0 5px;">{{ _('Congratulations') }}</p>
        <p style="font-size: 20px; text-align: center; margin: 10px 0 10px;"><b>{{ request.user.username }}!</b></p>
        <p style="font-size: 15px; text-align: center;">{{ _('You have just finished this problem') }}</p>
        <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
          <button onclick="$('#success-modal').remove()" class="button">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}