{% if request.user.is_authenticated and submissions %}
<div id="submissions" style="width: 100%;">
    <h3 id="submission-history-title">Submission history</h3>
   <ul id="submission-list">
        {% for subm in submissions %}
            <li class="submission-item">
                <div class="submission-item-top">
                    <span class="submission-date">
                        {{ relative_time(subm.date) }}
                    </span>
    
                    <span class="submission-status {{ subm.result }} submission-history-long-status">{{ subm.long_status }}</span>
                </div>

                 <div class="submission-item-content">
                    <div class="submission-item-content-inner">
                        <span class="submission-language">{{ subm.language }}</span>
                        <span class="submission-time">
                            {% if subm.time is not none %}
                                {{ subm.time|floatformat }} s
                            {% else %}
                                _
                            {% endif %}
                        </span>
                        <span class="submission-memory">
                            {% if subm.memory is not none %}
                                {{ subm.memory|kbdetailformat }}
                            {% else %}
                                _
                            {% endif %}
                        </span>
                    </div>
                    {% if course %}
                        <a class="submission-url" href="{{ url('beta_problem', course=course.slug, problem=subm.problem.code, submission=subm.id) }}{% if iframe and iframe == '1' %}{{'?iframe=1'}}{% endif %}">{{ _('view') }}</a>
                    {% else %}
                        <a class="submission-url" href="{{ url('beta_problem', problem=subm.problem.code, submission=subm.id) }}{% if iframe and iframe == '1' %}{{'?iframe=1'}}{% endif %}">{{ _('view') }}</a>
                    {% endif %}
                 </div>
            </li>
        {% endfor %}
   </ul>
</div>
{% endif %}