#problem-description {
  height: 100%;
  overflow: auto;
  padding: 10px;
  min-height: calc(100vh - var(--mainnav-height) - var(--topbar-height));
}

#problem-description-content-wrapper {
  padding: 8px;
  padding-bottom: 20px;
  color: var(--text-color-main);
}

#problem-description-content p,
#problem-description-content span,
#problem-description-content li,
#problem-description-content h1,
#problem-description-content h2,
#problem-description-content h3,
#problem-description-content h4,
#problem-description-content h5,
#problem-description-content h6 {
  color: var(--text-color-main-standout);
}
