#html-preview {
  height: 100%;
  padding-left: 20px;
  --html-preview-header-height: 50px;
}

#html-preview-title {
  height: var(--html-preview-header-height);
  color: var(--text-color-main-standout);
  border-bottom: 0.5px solid var(--border);
}

#html-preview-title p {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#html-preview-iframe {
  height: calc(
    100vh - var(--topbar-height) - var(--mainnav-height) -
      var(--html-preview-header-height) - 20px
  );
  overflow: auto;
  border-left: .5px solid var(--border);
  border-bottom: .5px solid var(--border);
}

#html-preview iframe {
  width: 100%;
  min-height: calc(
    100vh - var(--topbar-height) - var(--mainnav-height) -
      var(--html-preview-header-height) - 20px
  );
  background: white;
}

@media screen and (max-width: 992px) {
  #html-preview-iframe {
    height:auto;
  }

  #html-preview {
    padding-left: 0px;
  }
}