.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #00000084;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 20px;
  min-width: 600px;
  max-width: calc(100vw - 10px);
  min-height: 150px;
  background: var(--bg-main);
  border: 0.5px solid var(--border);
  color: var(--text-color-main-standout);
}
