<footer>
    <span id="footer-content">
        <br>
        <a style="color: #808080" href="https://dmoj.ca">{{ _('proudly powered by **DMOJ**')|markdown('default', strip_paragraphs=True) }}</a> |
        {% if misc_config.footer %}
            {{ misc_config.footer|safe }} |
        {% endif %}
        <form action="{{ url('set_language') }}" method="post" style="display: inline">
            {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path() }}">
        <select name="language" onchange="form.submit()" style="height: 1.5em">
            {% for language in language_info_list(LANGUAGES) %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
      </form>
    </span>
</footer>