<script type="text/javascript">
  $(function () {
      var blocked = false, request = false;
      var list = $('#test-cases');

        function remove_loading_modal() {
            $("#loading-modal").remove();
            {% if is_html %}
                $("#sidebar-editor-button").click();
            {% endif %}
        }

      function update() {
          if (blocked) {
              request = true;
              return;
          }
          request = false;
          blocked = true;
          $.ajax({
            {% if course %}
            url: '{{ url('beta_submission_testcases_query', course=course.slug) }}',
            {% else %}
            url: '{{ url('beta_submission_testcases_query') }}',
            {% endif %}
              data: {id: '{{ submission.id }}'}
          }).done(function (data) {
                const update_zone = document.getElementById('event-update')
                update_zone.innerHTML = data;


              list.empty().html(data).find('.toggle').each(function () {
                  register_toggle($(this));
              });

              $( "#testcases").tabs();
              $( ".testcases-and-submission").tabs();
              setTimeout(function () {
                  blocked = false;

                  if (request)
                      update();
              }, 500);
              if ($("#testcases-and-submission-nav").hasClass("judging-finished")) {
                remove_loading_modal();
                }
          }).fail(function (data) {
              console.log('Failed to update testcases!');
              remove_loading_modal();
              alert('Failed to update testcases!')
          });

          if ($(window).scrollTop() + $(window).height() > $(document).height() - 100)
              $("html, body").animate({scrollTop: $(document).height()}, 0);
      }

      var receiver = new EventReceiver(
          "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
          ['sub_{{ submission.id_secret }}'], {{ last_msg }}, function (message) {
              switch (message.type) {
                  case 'internal-error':
                  case 'grading-end':
                  case 'compile-error':
                      $('#abort-button').remove();
                      $('#grading-label').remove();
                  case 'test-case':
                  case 'grading-begin':
                  case 'processing':
                      update();

              }
          }
      )
  });
</script>
