<script type="text/javascript">
  const initialResizableHeight = localStorage.getItem("editor_height");
  if (initialResizableHeight && !isNaN(Number(initialResizableHeight))) {
    $("#editor-wrapper").height(Number(initialResizableHeight));
  }

  function set_initial_width() {
    console.log("set initial width")
    const initial_left_width = localStorage.getItem("{% if is_html %}{{ 'html_mode_' }}{% else %}{{ 'normal_mode_' }}{% endif %}left_width");
    if (initial_left_width && !isNaN(Number(initial_left_width))) {
      $("#main-left").width(Number(initial_left_width));
    }

    {% if is_html %}
      const initial_middle_width = localStorage.getItem("html_mode_middle_width");
      if (initial_middle_width && !isNaN(Number(initial_middle_width))) {
        $("#main-middle").width(Number(initial_middle_width));
      }
    {% endif %}
  }

  set_initial_width();

  // horizontal resizing
  function save_width() {
    console.log("save width")

    {% if is_html %}
      localStorage.setItem("html_mode_left_width", $("#main-left").width());
      localStorage.setItem("html_mode_middle_width", $("#main-middle").width());
    {% else %}
      localStorage.setItem("normal_mode_left_width", $("#main-left").width());
    {% endif %}
  }

  $("#main-left").resizable({
    direction: ["right"],
    stop: () => {
      save_width();
      {% if is_html %}
        update_iframe_height();
      {% endif %}
      window.aceEditor.resize();
    },
  });

  {% if is_html %}
    $("#main-middle").resizable({
      direction: ["right"],
      stop: () => {
        save_width();
        update_iframe_height();
        window.aceEditor.resize();
      },
    });
  {% endif %}

  // updating #ace_source height when and after vertical resizing
  $("#editor-wrapper").resizable({
    direction: ["bottom"],
    resize: () => {
      $("#ace_source").height($("#editor-wrapper").height());
    },
    stop: () => {
      $("#ace_source").height($("#editor-wrapper").height());
      window.aceEditor.resize();
      localStorage.setItem("editor_height", $("#editor-wrapper").height());
      {% if is_html %}
        update_iframe_height();
      {% endif %}
    },
  });

  // set initial height to #ace_source
  $("#ace_source").height($("#editor-wrapper").height());

  // clear code in the editor
  function clearEditor() {
    var source = $("textarea#id_source");
    source.val(window.initial_code);
    window.ace_source.getSession().setValue(window.initial_code);
  }

  function expandEditor(event) {

    function save_prev_resizing() {
      {% if is_html %}
        localStorage.setItem("pre_html_mode_left_width", $("#main-left").width());
        localStorage.setItem("pre_html_mode_middle_width", $("#main-middle").width());
      {% else %}
        localStorage.setItem("pre_normal_mode_left_width", $("#main-left").width());
      {% endif %}
    }

    function restore_prev_resizing() {
      const pre_left_width = localStorage.getItem("{% if is_html %}{{ 'pre_html_mode_' }}{% else %}{{ 'pre_normal_mode_' }}{% endif %}left_width");
      if (pre_left_width && !isNaN(Number(pre_left_width))) {
        $("#main-left").width(Number(pre_left_width));
      }
  
      {% if is_html %}
        const pre_middle_width = localStorage.getItem("pre_html_mode_middle_width");
        if (pre_middle_width && !isNaN(Number(pre_middle_width))) {
          $("#main-middle").width(Number(pre_middle_width));
        }
      {% endif %}
    }

    function expand_middle() {
      $("#main-middle").width($("#main").width() + "px");
      $("#main-left").width(0);
      {% if is_html %}
      $("#main-right").width(0);
      {% endif %}
    }

    const middle = document.getElementById("main-middle");
    if (middle.classList.contains("expand")) {
      restore_prev_resizing();
    } else {
      save_prev_resizing();
      expand_middle();
    }
    middle.classList.toggle("expand");
  }

  // render resizer buttons
  var vertical = `
        <div class="resizer resizer-v">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17">
                <g></g>
                <path d="M11.642 12.063l0.716 0.698-3.858 3.955-3.858-3.954 0.716-0.698 2.642 2.707v-12.542l-2.642 2.708-0.716-0.699 3.858-3.954 3.858 3.954-0.716 0.698-2.642-2.707v12.543l2.642-2.709z" fill="inherit" />
            </svg>
        </div>
        `;

  var horizontal = `
        <div class="resizer resizer-h">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17">
                <g></g>
                <path d="M16.716 8.5l-3.954 3.858-0.698-0.716 2.707-2.642h-12.542l2.708 2.642-0.698 0.716-3.955-3.858 3.954-3.858 0.698 0.716-2.707 2.642h12.543l-2.708-2.642 0.698-0.716 3.954 3.858z" fill="inherit" />
            </svg>
        </div>
        `;

  
  document.querySelector("#main-left .resizable-r").innerHTML = horizontal;
  document.querySelector("#main-middle .resizable-b").innerHTML = vertical;
  {% if is_html %}
  document.querySelector("#main-middle .resizable-r").innerHTML = horizontal;
  {% endif %}
</script>
