<div id="loading-modal" class="backdrop">
    <div style="min-width: 500px;" class="modal">
      <p style="text-align: center; font-size: 20px;">{{ _('Judging') }}</p>
      <div style="display: flex; align-items: center; justify-content: center;"><div class="lds-dual-ring"></div></div>
      <form style="display: flex; align-items:center; justify-content: center; padding-top: 20px;" action="{{ url('beta_submission_abort', submission.id) }}" method="post"
        title="{{ _('Press Ctrl-Enter or Command-Enter to abort.') }}">
        {% csrf_token %}
        <input type="submit" value="{{ _('Abort') }}" class="button"/>
      </form>
    </div>
  </div>