{% extends 'funix/problem/problem-base.html' %} 
{% block media_child %} 
  {{ form.media.css }}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{{ static('plugins/css/resizable.min.css') }}" />
  <link rel="stylesheet" href="{{ static('funix/css/problem.css') }}" />
{% endblock %} 

{% block js_media %}
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="{{static('plugins/js/resizable.min.js')}}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ ACE_URL }}/ace.js"></script>
  {{ form.media.js }} 

  {% if is_html %}
  <script type="text/javascript">
    function update_iframe_height() {
      const iframe = document.querySelector("#html-preview iframe");
      iframe.style.height = 0;
      iframe.style.height = iframe.contentWindow.document.documentElement.scrollHeight + 20 + 'px';
      console.log("update height iframe", iframe.contentWindow.document.documentElement.scrollHeight)
    }
  </script>
  {% endif %}
  
  {% compress js %} 
    {% include 'funix/problem/ace-editor.html' %} 
  {% endcompress %}

  <script type="text/javascript">
    $( function() {
      $( "#beta-container" ).tabs({% if is_html %}{active: 1}{% endif %});
    } );
  </script>

  <script type="text/javascript" src="{{ static('event.js') }}"></script>
{% if submission and not submission.is_graded and last_msg %} 
  {% include "funix/problem/js-event.html" %} {% endif %} 
  {% if submission and not submission.is_graded %}
    <script type="text/javascript">
      $(function () {
        $(document).keydown(function (e) {
          // Ctrl-Enter or Command-Enter
          if ((e.metaKey || e.ctrlKey) && e.which == 13) {
            $("#abort-button form").submit();
          }
        });
      });
    </script>
  {% endif %} 
{% endblock %} 

{% block problem_content %} 
  {% if submission %} 
    {% set is_processing = submission is not none %} 
  {% endif %}

<div class="problem_container">

  <div class="topbar">
      <h1 id="problem_title">
        {% if course %}
          <a href="{{ url('beta_course_detail', course.slug) }}">{{ course.name }}</a>:
          {{ section.name }}:
        {% endif %}
        {{ object.name }}
       
      </h1>

      {% if course %}
        <div id="course_problems">
          {% for c_problem in course_problems %}
            {% if request.user.is_authenticated %}
              {% with latest_submission =  c_problem.problem.submission_set.filter(user=request.user.profile).order_by("-date").first() %}
                {% if latest_submission %}
                  {% if latest_submission.result == "AC" %}
                    <a class="{% if c_problem.problem.code == problem.code %}active{% endif %} success" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </a>
                  {% elif latest_submission.result %}
                    <a class="{% if c_problem.problem.code == problem.code %}active{% endif %} danger" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </a>
                  {% else %}
                    <a class="{% if c_problem.problem.code == problem.code %}active{% endif %}" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                      {{ c_problem.number }}
                    </a>
                  {% endif %}
                {% else %}
                  <a class="{% if c_problem.problem.code == problem.code %}active{% endif %}" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                    {{ c_problem.number }}
                  </a>
                {% endif %}
              {% endwith %}
            {% else %}
                <a class="{% if c_problem.problem.code == problem.code %}active{% endif %}" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                  {{ c_problem.number }}
                </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="main">
      <div class="problem_details">
        {% include "funix/submission/history.html" %}
        {% include "funix/problem/details.html" %}
       {% if is_html %} {% include "funix/problem/html-preview.html" %} {% endif %}
      </div>
    
      <div class="codeplace">
        {% if not request.user.is_authenticated %}
        <div class="login_required_overlay">
          <div>
            <p>Login is needed to make submission</p>
            <a
              href="{{ url('auth_login') }}?next={{ LOGIN_RETURN_PATH|urlencode }}"
              >{{ _('Login!') }}</a
            >
          </div>
        </div>
        {% else %} {% include 'funix/problem/editor.html' %}

        <div id="event-update" class="submission">
          {% include 'funix/submission/submission.html' %}
        </div>
        {% endif %}
      </div>
    </div>

</div>


  {% compress js %} 
    {% include "funix/problem/js-ace-editor-extra.html" %} 
    {% include "funix/problem/js-resizing.html" %} 
    {% include "funix/problem/js-tabs.html" %} 
  {% endcompress %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-chtml.min.js"></script>

{% endblock %}



