<div
  id="login-required"
  style="
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-main-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div
    style="
      padding: 10px;
      background-color: var(--bg-main);
      border: 0.5px solid var(--border);
      border-radius: 3px;
      width: 300px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    "
  >
    <div>
      <p
        style="
          text-align: center;
          font-weight: 600;
          font-size: 18px;
          color: var(--text-color-main);
        "
      >
        {{ _("Login required") }}
      </p>
      <a
        class="button"
        href="{{ url('auth_login') }}?next={{ LOGIN_RETURN_PATH|urlencode }}"
        >{{ _('Login!') }}</a
      >
    </div>
  </div>
</div>
