<div id="sidebar">
  <ul>
    {% if request.user.is_authenticated %}

      <li>
        <a href="#problem-description" >
          {% include "funix/problem/svg/open_book.html" %}
        </a>
      </li>

      {% if is_html %}
        <li>
          <a href="#main-right" id="sidebar-editor-button">
            {% include "funix/problem/svg/empty_tag.html" %}
          </a>
        </li>
      {% endif %}

      {% if submissions %}
        <li>
          <a href="#submissions" title="{{ _('My submissions') }}" >
            {% include "funix/problem/svg/clock.html" %}
          </a>
        </li>
      {% endif %}

      {% if request.user.is_staff or request.user.is_superuser %}
        <li>
          <a href="#problem-solution">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
            </svg>
          </a>
        </li>
      {% endif %}

    {% else %}
      <li>
        <a href="#problem-description" >
          {% include "funix/problem/svg/open_book.html" %}
        </a>
      </li>
    {% endif %}

  
      
  
  </ul>

  <form id="i18n" action="{{ url('set_language') }}" method="post" >
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path() }}">
    <select name="language" onchange="form.submit()" style="height: 1.5em">
      <option value="en" {% if "en" == LANGUAGE_CODE %}selected{% endif %}>
          en
      </option>
      <option value="vi" {% if "vi" == LANGUAGE_CODE %}selected{% endif %}>
        vi
      </option>
    </select>
  </form>
</div>

