<h1 id="problem_title">
    {% if course %}
      <a href="{{ url('beta_course_detail', course.slug) }}">{{ course.name }}</a>:
      {{ section.name }}:
    {% endif %}
    {{ object.name }}
</h1>

  {% if course %}
    <div id="course_problems">
      {% for c_problem in course_problems %}
        {% if request.user.is_authenticated %}
          {% with latest_submission =  c_problem.problem.submission_set.filter(user=request.user.profile).order_by("-date").first() %}
            {% if latest_submission %}
              {% if latest_submission.result == "AC" %}
                <a class="{% if c_problem.problem.code == problem.code %}active{% endif %} success" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>
                </a>
              {% elif latest_submission.result %}
                <a class="{% if c_problem.problem.code == problem.code %}active{% endif %} danger" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </a>
              {% else %}
                <a class="{% if c_problem.problem.code == problem.code %}active{% endif %}" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                  {{ c_problem.number }}
                </a>
              {% endif %}
            {% else %}
              <a class="{% if c_problem.problem.code == problem.code %}active{% endif %}" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
                {{ c_problem.number }}
              </a>
            {% endif %}
          {% endwith %}
        {% else %}
            <a class="{% if c_problem.problem.code == problem.code %}active{% endif %}" href="{{ url('beta_problem', course=course.slug, problem=c_problem.problem.code) }}">
              {{ c_problem.number }}
            </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}